.big_wrapper {
  background: $body_background;
  border-bottom: 1px solid #d2d2d2;
  padding: 0px 35px;
}

.big_wrapper .wrapper {
  background: $body_background;
  width: 100%;
  padding: 35px;
}

.point_copy {
  width: 440px;
  h3 {
    margin: 20px 0 30px 0;
  }
}

h3 {
    font-family: $primary_font, $secondary_font, $tertiary_font;
    font-weight: 300;
    font-size: 70px;
    color: $h3_color;
    margin-bottom: 30px;
    line-height: 1;
}

p {
  color: #737980;
}

.point_copy p, #other_points li p {
    line-height: 1.5;
}

/************************************ Simple  ************************************/
#one {
  background: url(image_path("1-background.png")) no-repeat bottom left;
  height: 800px;
}

#iphone {
  float: left;
  display: inline;
  margin-top: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  height: 500px;
  width: 300px;
}

#app {
  position: relative;
  height: 450px;
  width: 200px;
  left: 22px;
  top: -430px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  z-index: 1;
}

#lightbulb {
  display: inline;
  margin: 0px auto;
  img {
    max-height: 10%;
    max-width: 10%;
  }
  max-height: 100px;
  max-width: 50px;
}

/************************************ Colorful  ************************************/
#two {
  background: url(image_path("2-background.png"));
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
}

.color_wheel {
  margin-top: 50px;
  margin-right: 40%;
  float: right;
  width: 250px;
  height: 250px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/************************************ Smart  ************************************/
#three {
  background: url(image_path("3-background.png")) no-repeat bottom left;
  height: 600px;
}

/************************************ Efficient  ************************************/
#four {
  background: url(image_path("4-background.png")) no-repeat bottom left;
  height: 600px;
}

#bottom-wrapper div {
  margin-top: 2px;
  width: 100px;
  height: 50px;
  display: block;
  border-radius: 10px;
  p {
    float: right;
    font-size: 40px;
    color: white;
  }
}

.title {
  margin-bottom: 50px;
}

.names {
    margin-top:20px;
    display: block; 
}

.compare-1 {
  background: #A4E786;
}

.compare-2 {
  background: #1AD6FD; 
}

.compare-3 {
  background:#FF3B30;
}

.animate-1 {
  -webkit-animation: increase-1 2s; /* Chrome, Safari, Opera */
  animation: increase-1 2s;
}

.animate-2 {
  -webkit-animation: increase-2 2s; /* Chrome, Safari, Opera */
  animation: increase-2 2s;
}

.animate-3 {
  -webkit-animation: increase-3 2s; /* Chrome, Safari, Opera */
  animation: increase-3 2s;
}

@-webkit-keyframes increase-1 {
  from {
    width: 100px;
  }
  to {
    width: 980px;
  }
}

/* Standard syntax */
@keyframes increase-1 {
  from {
    width: 100px;
  }
  to {
    width: 980px;
  }
}

@-webkit-keyframes increase-2 {
  from {
    width: 100px;
  }
  to {
    width: 550px;
  }
}

/* Standard syntax */
@keyframes increase-2 {
  from {
    width: 100px;
  }
  to {
    width: 550px;
  }
}

@-webkit-keyframes increase-3 {
  from {
    width: 80px;
  }
  to {
    width: 110px;
  }
}

/* Standard syntax */
@keyframes increase-3 {
  from {
    width: 80px;
  }
  to {
    width: 110px;
  }
}

/************************************ Buy Now ************************************/
.left {
  background: $body_background;

  float: left;
}

.right {
  float: right;
}

