.big_wrapper {
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
  padding: 0px 35px;
}

.big_wrapper .wrapper {
  width: 100%;
  padding: 35px;
}

.point_copy {
  width: 440px;
  h3 {
    margin: 20px 0 30px 0;
  }
}

h3 {
    font-family: $primary_font, $secondary_font, $tertiary_font;
    font-weight: 300;
    font-size: 70px;
    color: $h3_color;
    margin-bottom: 30px;
    line-height: 1;
}

p {
  color: #737980;
}

.point_copy p, #other_points li p {
    line-height: 1.5;
}

/****************** Simple  *******************/
#one {
  background: url(image_path("1-background.png")) no-repeat bottom left;
  height: 800px;
}

#iphone {
  float: left;
  display: inline;
  margin-top: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  height: 500px;
  width: 300px;
}

#lightbulb {
  display: inline;
  margin: 0px auto;
  img {
    max-height: 30%;
    max-width: 30%;
  }
  height: 400px;
  width: 150px;
}

/************************************ Colorful  ************************************/
#two {
  background: url(image_path("2-background.png"));
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
}

.color_wheel {
  margin-top: 200px;
  float: left;
  width: 500px;
  height: 500px;
  img {
    max-width: 50%;
   max-height: 50%;
  }
}

.color_wheel:hover {
    -webkit-animation: rotate 1s infinite linear; /* Chrome, Safari, Opera */
    animation: rotate 2s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Standard syntax */
@keyframes myfirst {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/************************************ Smart  ************************************/
#three {
  background: url(image_path("3-background.png")) no-repeat bottom left;
  height: 600px;
}


/************************************ Efficient  ************************************/
#four {
  background: url(image_path("4-background.png")) no-repeat bottom left;
  height: 600px;

}

.title {
  margin-bottom: 100px;
}

.names {
    margin-top:20px;
    display: block; 
}

.compare-1 {
  margin-top: 2px;
  width: 950px;
  height: 50px;
  background: #A4E786;
  border-radius: 10px;
  display: block;
  p {
    float: right;
    font-size: 40px;
    color: white;
  }
}

.compare-2 {
  margin-top: 2px;
  width: 500px;
  height: 50px;
  background: #1AD6FD; 
  border-radius: 10px;
  display: block;

  p {
    float: right;
    font-size: 40px;
    color: white;
  }
}

.compare-3 {
  margin-top: 2px;
  width: 100px;
  height: 50px;
  background:#FF3B30;
  border-radius: 10px;
  display: block;

  p {
    float: right;
    font-size: 40px;
    color: white;
  }
}

.compare-1:hover {
  -webkit-animation: myfirst 2s; /* Chrome, Safari, Opera */
  animation: myfirst 2s;
}

.compare-2:hover {
    -webkit-animation: myfirst 2s; /* Chrome, Safari, Opera */
    animation: myfirst 2s;
}

.compare-3:hover {
    -webkit-animation: myfirst 2s; /* Chrome, Safari, Opera */
    animation: myfirst 2s;
}

@-webkit-keyframes myfirst {
  from {
    width: 50px;
  }
  to {
    width: 950px;
  }
}

/* Standard syntax */
@keyframes myfirst {
  from {
    width: 50px;
  }
  to {
    width: 950px;
  }
}

/************************************ Buy Now ************************************/
.left {
  float: left;
}

.right {
  float: right;
}

.split-half {
  margin-top: 150px;
  height: 500px;
  width: 50%;
}

#lightbulb-center {
    display: inline;
    text-align: center;
    img {
      text-align: center;
      margin-bottom: 50px;
      margin-left: 200px;    
      max-height: 30%;
      max-width: 30%;
    }
}

.split-half h5 {
  text-align: center;
}
