<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3> Simple </h3>
      <p> On and Off, one click <p>
    </div>

    <div id="iphone">
      <img src="assets/iphone.png">
    </div>

    <div id="app">
       <img src="assets/app.jpg">
    </div> 

    <div id="lightbulb">
      <img src="assets/nextBulb1.png">
    </div>

    <div id="lightbulb">
      <img src="assets/nextBulb2.png">
    </div>

  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3> Colorful </h3>
      <p> <p>
    </div>
    <div class="color_wheel">
      <img src="assets/color-wheel.png">
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3> Smart </h3> 
      <p> It knows when you are away <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy">
      <h3> Efficient </h3>
      <p> 10 nextBulb saves you average of 100 dollars in a year <p>
      <p> Annual Energy Spending on Lighting: </p>
    </div>
    <div id="bottom-wrapper">
      <p class="title"> </p>
      <p class="names"> nextBulb  </p>
      <div class="compare-1"><p>98%</p></div>
      <p class="names"> Incadescent  </p>
      <div class="compare-2"><p>55%</p></div>
      <p class="names"> Fluorescent </p>
      <div class="compare-3"><p>11%</p></div>
    </div>
  </div>
</div>
