<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2><%= Settings.ships %></h2>
    <a href="http://www.amazon.com/Bluetooth-Wireless-Control-Multicolor-Light/dp/B00GZQBQHE/ref=sr_1_1?ie=UTF8&qid=1406007806&sr=8-1&keywords=bluetooth+lightbulb" class="blue_button reserve"><%= Settings.middle_reserve_text %></a>
  </div>
</div>
