<div class="footer">
	<ul>
		<li class="selected"><a href="index.html">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="contact.html">Press</a></li>
		<li><a href="support.html">Support</a></li>
		<li><a href="faqs.html">Jobs</a></li>
		<li><a href="events.html">Blog</a></li>
		<li><a href="events.html">Privacy Policy</a></li>
		<li><a href="events.html">Terms of Service</a></li>
	</ul>

	<div class="social-icon">
		<a href="https://twitter.com/johnshencanada"><img src="assets/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
		<a href="https://www.facebook.com/johnjohnshen"><img src="assets/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
	</div>

	<div class="wrapper clearfix">
		<%= render 'preorder/copyright' %>
	</div>

</div>
<%= render 'preorder/google_analytics' %>
