<div id="header">
  <div class="wrapper clearfix">
	<a href="/">

		<div id = "logo"><%= link_to image_tag("logo5.png", alt: "Bananabulb"), '#' %></div>
		<h1>Bananabulb</h1>
	</a>
  </div>
  <nav>

  </nav>

</div>