<div id="header">
  <div class="wrapper clearfix">
	<a href="/">
		<div id = "logo"> <img src="assets/logo5.png" alt="banana home"> </div>
		<h1>Bananabulb</h1>
	</a>
  </div>
  <nav>
  </nav>

</div>